body {
  background-image: url("fondojugue.jpg");
  font-family: "Permanent Marker";
  font-size: 1.2em;
}
h1,
h2,
h3,
h4 {
  font-family: "Pacifico";
h1 {
  font-size: 1.1em;
  text-align: center;
  color: rgb(143, 233, 236);
  -webkit-text-stroke: 0,05px black;
  background: -webkit-linear-gradient(tomato, rgb(233, 235, 144), rgb(143, 233. 236), rgb(227, 149,247));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
h2,
h3,
h4 {
  font-size: 1.2em
  text-align: left;
  --webkit-text-stroke: 0,05px black;
}
h2 {
  text-align: center;
  color: tomato;
}
h3 {
  color: black;
  text-align: center;
}
}
p {
  font-family: "Josefin Sans";
  font-size: 1em;
  margin-top: 5%;
  color: red;
}
a {
  display: block;
  color: rgb(227,149,247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1em;
  -webkit-text-stroke: 0,05px black;
}
/* Aplicada fuente Pacifico para todos los títulos y fuente Josefin Sans para font pairing a párrafos*\
/* Aplicado tamaño 1.1em para el h1, 1.2em para el h2,h3 y h4 y tamaño 1 para los párrafos*\
